/* INNER DIVs */
.flex-item {
    width: 15%;
    height: 20%;
    background-color: blue;
    
}

/* Select the flexible OUTER DIV */
/* */

.flex-container {
    border: 2px solid black;
    width: 80%;
    height: 60%;
    /* FLEXBOX PROPERTIES */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:25px;
}

.flex-container-col{
    border: 2px solid black;
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}